<div id="modal-global-login" class="modal">

	<form action="">

		<!-- Header -->
		<div class="modal-header">
			<span class="fa fa-lock"></span>
			Log-in
		</div>

		<!-- Content -->
		<div id="login-form" class="modal-content">

			Your session expired.

			<br><br>

			Please log-in again:

			<br><br>

			<div class="login-form-input">
				<div class="fa fa-user fa-fw"></div>
				<input type="text" placeholder="Login" tabindex="1" name="login">
			</div>

			<br>

			<div class="login-form-input">
				<div class="fa fa-lock fa-fw"></div>
				<input type="password" placeholder="Password" tabindex="1" name="password">
			</div>

			<br><br>

			<div id="remember">
				<input type="checkbox" tabindex="1" name="remember">
				<label for="remember"> Remember me ?</label>
			</div>

			<div id="login-error"></div>

		</div>

		<!-- Footer -->
		<div class="modal-footer">
			<button type="submit" tabindex="1">Login</button>
		</div>

	</form>

</div>