<div id="modal-global-settings" class="modal">

	<!-- Header -->
	<div class="modal-header">
		<span class="fa fa-user"></span>
		Profile
	</div>

	<!-- Content -->
	<div class="modal-content">
		<strong>Personal information:</strong>
		<table>
			<tr>
				<td>First name: </td>
				<td><input type="text" class="form-input" placeholder="First name" tabindex="1" name="firstName" value="<%= rc.firstName %>"></td>
			</tr>
			<tr>
				<td>Last name: </td>
				<td><input type="text" class="form-input" placeholder="Last name" tabindex="1" name="lastName" value="<%= rc.lastName %>"></td>
			</tr>
			<tr>
				<td>E-mail: </td>
				<td><input type="email" class="form-input" placeholder="E-mail" tabindex="1" name="mail" value="<%= rc.mail %>"></td>
			</tr>
		</table>
		<br><br>
		<strong>Change password:</strong>
		<table>
			<tr>
				<td>Password: </td>
				<td><input type="password" class="form-input" placeholder="Password" tabindex="1" name="password"></td>
			</tr>
			<tr>
				<td>Re-type password: </td>
				<td><input type="password" class="form-input" placeholder="Re-type password" tabindex="1" name="password2"></td>
			</tr>
		</table>
		<br><br>
		<strong>Image:</strong>
		<br><br>
		<div id="upload-preview">
			<img />
		</div>
		<div id="image-preview">
			<img />
			<span class="fa fa-2x fa-trash"></span>
		</div>
		<input id="user-image-input" type="file" tabindex="1">
		<canvas id="image-canvas"></canvas>
	</div>

	<!-- Footer -->
	<div class="modal-footer">
		<button id="modal-button-cancel" tabindex="1">Cancel</button>
		<button id="modal-button-save" tabindex="1">Save</button>
	</div>

</div>