<!doctype html>

<html lang="en">

<head>

	<!-- Meta informations -->
	<meta charset="utf-8">
	<meta name="description" content="Mist applications in the cloud ! Notes, contacts, calendar, rss reader...">
	<meta name="author" content="Leleux Laurent">
	<meta name="viewport" content="width=device-width">

	<!-- Other -->
	<title>Mist - Notes</title>
	<link rel="icon" type="image/png" href="favicon.png">

	<!-- build:css(.tmp/global) global/styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="../../bower_components/toastr/toastr.css" />
	<link rel="stylesheet" href="../../bower_components/fontawesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../../bower_components/jcrop/css/jquery.Jcrop.css" />
	<!-- endbower -->
	<link rel="stylesheet" href="../global/styles/global.css">
	<!-- endbuild -->

	<!-- build:css(.tmp/notes) notes/styles/main.css -->
	<link rel="stylesheet" href="styles/notes.css">
	<!-- endbuild -->

</head>

<body>

	<!-- Top navigation bar -->
	<div class="navbar navbar-notes">

		<!-- Left menu icon -->
		<div id="nav-menu"><span class="fa fa-navicon"></span><span id="nav-menu-title">All</span></div>

		<!-- Right menu -->
		<div id="nav-user">
			<!-- Search icon -->
			<div id="search-menu" class="fa fa-lg fa-search"></div>
			<!-- App selector -->
			<div id="app-menu" class="dropdown dropdown-right">
				<div class="dropdown-button"><div class="fa fa-lg fa-th"></div></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<table>
						<tr>
							<td><div class="fa fa-3x fa-rss"></div>Reader</td>
							<td onclick="location.replace('/contacts');"><div class="fa fa-3x fa-users"></div>Contacts</td>
						</tr>
						<tr>
							<td><div class="fa fa-3x fa-calendar"></div>Calendar</td>
							<td><div class="fa fa-3x fa-envelope"></div>Mail</td>
						</tr>
						<tr>
							<td><div class="fa fa-3x fa-lock"></div>Pass</td>
							<td><div class="fa fa-3x fa-lightbulb-o"></div>Notes</td>
						</tr>
					</table>
				</ul>
			</div>
			<!-- Notifications -->
			<div class="dropdown dropdown-right">
				<div class="dropdown-button"><div class="fa fa-lg fa-bell"></div></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<div id="notifications">No notifications...</div>
				</ul>
			</div>
			<!-- User menu -->
			<div id="user-menu" class="dropdown dropdown-right">
				<img class="dropdown-button">
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<table>
						<tr>
							<td colspan="2" id="user-menu-info">
								<img><br>
								<span id="user-menu-name"></span><br>
								<span id="user-menu-mail"></span>
							</td>
						</tr>
						<tr>
							<td class="user-menu-button" id="user-menu-settings"><div class="fa fa-lg fa-cogs"></div><span>Settings</span></td>
							<td class="user-menu-button" id="user-menu-logout"><div class="fa fa-lg fa-power-off"></div><span>Logout</span></td>
						</tr>
					</table>
				</ul>
			</div>
		</div>

		<!-- Search menu -->
		<div id="nav-search">
			<span id="nav-search-icon" class="fa fa-search"></span>
			<div id="nav-search-content"><input type="text" placeholder="Search" tabindex="1"></div>
			<span id="nav-search-stop" class="fa fa-remove"></span>
		</div>

	</div>

	<!-- Main container -->
	<div id="container">

		<!-- Left menu -->
		<div class="menu">
			<!-- Items -->
			<div id="menu-item-all" data-item="all" class="menu-item menu-item-active"><span class="fa fa-th fa-lg"></span>All</div>
			<div id="menu-item-notes" data-item="notes" class="menu-item"><span class="fa fa-lightbulb-o fa-lg"></span>Notes</div>
			<div id="menu-item-todo" data-item="todo" class="menu-item"><span class="fa fa-check fa-lg"></span>Todo lists</div>
			<div class="menu-separator"></div>
			<div id="menu-item-trash" data-item="trash" class="menu-item"><span class="fa fa-trash fa-lg"></span>Trash</div>
			<!-- Sync status -->
			<div class="menu-bottom">
				<div id="menu-sync">
					<div id="menu-sync-syncing"><span class="fa fa-refresh fa-lg"></span>Syncing</div>
					<div id="menu-sync-synced"><span class="fa fa-check fa-lg"></span>Synced</div>
					<div id="menu-sync-error"><span class="fa fa-warning fa-lg"></span>Sync error</div>
					<div id="menu-sync-stopped"><span class="fa fa-warning fa-lg"></span>Sync stopped</div>
				</div>
			</div>
		</div>

		<!-- No notes message -->
		<div id="nothing-message">No notes here...</div>

		<!-- Grid container for notes -->
		<div id="notes-container"></div>

		<!-- No notes message -->
		<div id="more"><span id="nbr-shown"></span> of <span id="nbr-total"></span><br><span class="fa fa-2x fa-ellipsis-v"></span></div>

		<!-- Bottom add menu -->
		<div id="add-menu">
			<div><div id="add-menu-button" class="fa fa-plus"></div></div>
			<div><span>Import/export</span><div id="add-menu-import" class="fa fa-cloud-upload"></div></div>
			<div><span>New todo list</span><div id="add-menu-todo" class="fa fa-check"></div></div>
			<div><span>New note</span><div id="add-menu-note" class="fa fa-lightbulb-o"></div></div>
		</div>

	</div>

	<!-- Dim filter -->
	<div class="dim"></div>

	<!-- Loading message -->
	<div id="loader"><span class="fa fa-refresh fa-spin"></span><br><br>Loading... Please wait...</div>

	<!-- Modal container -->
	<div id="modal-container"></div>

	<!-- Download link -->
	<a id="download-link" style="display: none"></a>

	<!-- Note template -->
	<script type="text/template" id="template-note">
		<div class="note <% if(rc.color) print('note-' + rc.color) %>">
			<div class="drag-drop-zone"></div>
			<input class="note-title" type="text" placeholder="Title" tabindex="-1" value="<%= rc.title %>" />
			<% if (rc.tasks) { %>
			<div class="note-tasks">
				<% _.each(rc.tasks, function (task) { %>
				<div class="note-task <% if (task.done) print('note-task-done'); %>">
					<div class="note-task-icon"></div>
					<textarea class="note-task-content" rows="1" placeholder="Task" tabindex="-1"><%= task.content %></textarea>
				</div>
				<% }) %>
			</div>
			<% } else { %>
			<textarea class="note-content" rows="1" placeholder="Note" tabindex="-1"><%= rc.content %></textarea>
			<% } %>
		</div>
	</script>

	<!-- Note task template -->
	<script type="text/template" id="template-note-task">
		<div class="note-task">
			<div class="note-task-icon"></div>
			<textarea class="note-task-content" rows="1" placeholder="Task" tabindex="-1"></textarea>
		</div>
	</script>

	<!-- Note menu template -->
	<script type="text/template" id="template-note-menu">
		<div class="note-menu">
			<% if (rc.deleteDate) { %>
			<div id="note-menu-destroy" class="fa fa-remove"></div>
			<div id="note-menu-restore" class="fa fa-undo"></div>
			<% } else { %>
			<div id="note-menu-delete" class="fa fa-trash"></div>
			<div id="note-menu-color" class="dropdown dropdown-left">
				<div class="fa fa-paint-brush dropdown-button"></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<div class="fa fa-square <% if (rc.color === 'red') print('fa-check-square'); %>" data-color="red"></div>
					<div class="fa fa-square <% if (rc.color === 'orange') print('fa-check-square'); %>" data-color="orange"></div>
					<div class="fa fa-square <% if (rc.color === 'yellow') print('fa-check-square'); %>" data-color="yellow"></div>
					<div class="fa fa-square <% if (rc.color === 'green') print('fa-check-square'); %>" data-color="green"></div>
					<div class="fa fa-square <% if (rc.color === 'turquoise') print('fa-check-square'); %>" data-color="turquoise"></div>
					<div class="fa fa-square <% if (rc.color === 'blue') print('fa-check-square'); %>" data-color="blue"></div>
					<div class="fa fa-square <% if (rc.color === 'grey') print('fa-check-square'); %>" data-color="grey"></div>
					<div class="fa fa-square <% if (!rc.color || rc.color === 'white') print('fa-check-square'); %>" data-color="white"></div>
				</ul>
			</div>
			<% } %>
			<button>OK</button>
		</div>
	</script>

	<!-- build:js global/scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../../bower_components/jquery/dist/jquery.js" defer></script>
	<script src="../../bower_components/toastr/toastr.js" defer></script>
	<script src="../../bower_components/jcrop/js/jquery.Jcrop.js" defer></script>
	<script src="../../bower_components/underscore/underscore.js" defer></script>
	<!-- endbower -->
	<script src="../global/scripts/Config.js" defer></script>
	<script src="../global/scripts/Session.js" defer></script>
	<script src="../global/scripts/Application.js" defer></script>

	<script src="../global/scripts/Resource.js" defer></script>
	<script src="../global/scripts/UserResource.js" defer></script>

	<script src="../global/scripts/AuthService.js" defer></script>
	<script src="../global/scripts/DownloadService.js" defer></script>
	<script src="../global/scripts/LoaderService.js" defer></script>
	<script src="../global/scripts/ModalService.js" defer></script>
	<script src="../global/scripts/SyncService.js" defer></script>

	<script src="../global/scripts/ApplicationController.js" defer></script>
	<script src="../global/scripts/SettingsModalController.js" defer></script>
	<script src="../global/scripts/LoginModalController.js" defer></script>
	<script src="../global/scripts/ConfirmModalController.js" defer></script>
	<!-- endbuild -->

	<!-- build:js notes/scripts/main.js -->
	<script src="scripts/jquery-functions.js" defer></script>
	<script src="scripts/NoteResource.js" defer></script>
	<script src="scripts/Masonry.js" defer></script>
	<script src="scripts/ImportModalController.js" defer></script>
	<script src="scripts/ConflictModalController.js" defer></script>
	<script src="scripts/EditorController.js" defer></script>
	<script src="scripts/MenuController.js" defer></script>
	<script src="scripts/NotesController.js" defer></script>
	<script src="scripts/main.js" defer></script>
	<!-- endbuild -->

</body>

</html>