/**
 * Variables
 */

$navbar-color: #3C80F6;
$navbar-text-color: rgba(255, 255, 255, 1);
$navbar-text-hover-color: rgba(255, 255, 255, 0.7);


/**
 * Global components
 */

.navbar-contacts {

	background-color: $navbar-color;
	color: $navbar-text-color;

	#nav-menu:hover {
		color: $navbar-text-hover-color;
	}

	#nav-user:hover {
		color: $navbar-text-hover-color;
	}

	#nav-search-content input {
		color: $navbar-text-color;
	}

}