/**
 * Variables
 */

$navbar-color: #3C80F6;
$navbar-text-color: rgba(255, 255, 255, 1);
$navbar-text-hover-color: rgba(255, 255, 255, 0.7);


/**
 * Global components
 */

.navbar-contacts {

	background-color: $navbar-color;
	color: $navbar-text-color;

	#nav-menu:hover {
		color: $navbar-text-hover-color;
	}

	#nav-user:hover {
		color: $navbar-text-hover-color;
	}

	#nav-search-content input {
		color: $navbar-text-color;
	}

	#nav-search-button:hover {
		color: $navbar-text-hover-color;
	}

}


/**
 * Contact list
 */

.contacts {

	border: 1px solid rgba(0, 0, 0, 0.08);

}

.contact {

	color: rgba(0, 0, 0, 0.8);
	background-color: #FFF;
	padding: 11px 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	cursor: pointer;

	div {

		display: inline-block;
		padding-right: 50px;
		line-height: 29px;
		vertical-align: middle;
		width: 225px;
		font-size: 13px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 0px;

		span {
			color: rgba(0, 0, 0, 0.3);
		}

	}

	.name {
		font-size: 16px;
	}

	.image {
		margin-right: 25px;
		width: 29px;
		height: 29px;
		float: left;
		border-radius: 50%;
	}

	@media (max-width: 1566px) {
		.sample-note {
			display: none;
		}
	}

	@media (max-width: 1287px) {
		.sample-address {
			display: none;
		}
	}

	@media (max-width: 1008px) {
		.sample-phone {
			display: none;
		}
	}

	@media (max-width: 729px) {
		.sample-mail {
			display: none;
		}
	}

}

.contact-edit {

	min-height: 75px;

	.name {
		font-size: 25px;
		line-height: 75px;
	}

	.image {
		width: 75px;
		height: 75px;
	}

}