/**
 * Variables
 */

$navbar-color: #3C80F6;
$navbar-text-color: rgba(255, 255, 255, 1);
$navbar-text-hover-color: rgba(255, 255, 255, 0.7);


/**
 * Global components
 */

.navbar-contacts {

	background-color: $navbar-color;
	color: $navbar-text-color;

	#nav-menu:hover {
		color: $navbar-text-hover-color;
	}

	#nav-user:hover {
		color: $navbar-text-hover-color;
	}

	#nav-search-content input {
		color: $navbar-text-color;
	}

}


/**
 * Contact list
 */

.contacts {

	border: 1px solid rgba(0, 0, 0, 0.08);

}

.contact {

	color: rgba(0, 0, 0, 0.8);
	background-color: #FFF;
	padding: 11px 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	cursor: pointer;

	div {
		display: inline-block;
		padding-right: 25px;
		line-height: 29px;
		vertical-align: middle;
		width: 250px;
		font-size: 13px;
	}

	.name {
		font-size: 16px;
	}

	.image {
		margin-right: 25px;
		width: 29px;
		height: 29px;
		float: left;
		border-radius: 50%;
	}

}

.contact-edit {

	min-height: 75px;

	.name {
		font-size: 25px;
		line-height: 75px;
	}

	.image {
		width: 75px;
		height: 75px;
	}

}