/**
 * Variables
 */

$navbar-height: 45px;
$left-menu-width: 250px;


/**
 * Global
 */

body {
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.07);
	font-family: arial,sans-serif;
	z-index: 100;
}

.fa {
	line-height: 1;
	vertical-align: middle;
}


/**
 * Navbar
 * The colored navbar with a menu button, and the username
 */

.navbar {
	background: none repeat scroll 0% 0% #C0C0C0;
	height: $navbar-height;
	line-height: $navbar-height;
	width: 100%;
	position: fixed;
	top: 0px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	z-index: 600;
	text-align: center;
	vertical-align: middle;
}

#nav-menu {

	text-align: left;
	display: inline-block;
	height: 100%;
	width: 250px;
	margin-left: 30px;
	cursor: pointer;
	font-size: 16px;
	float: left;
	line-height: $navbar-height;

	.fa {
		margin-right: 10px;
		font-size: 150%;
		line-height: $navbar-height;
	}

}

#nav-user {
	text-align: right;
	display: inline-block;
	height: 100%;
	width: 250px;
	margin-right: 20px;
	cursor: pointer;
	float: right;
	font-size: 14px;
}

#user-image {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 8px;
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 50%;
}

#nav-search {
	text-align: left;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.3);
	width: 450px;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	padding: 4px;
	border-radius: 4px;
}

#nav-search-icon {
	margin: 3px 15px;
	float: left;
	width: 16px;
	cursor: default;
}

#nav-search-content {

	margin: 0px 25px 0px 46px;
	display: block;
	vertical-align: middle;

	input {
		height: 22px;
	}

}

#nav-search-stop {
	margin: 3px 5px;
	position: relative;
	top: -22px;
	right: 0px;
	float: right;
	cursor: pointer;
}


/**
 * User menu
 * Popup menu showed when clicking on the username
 */

#user-menu {
	line-height: 1;
	background-color: #FFF;
	position: absolute;
	right: 25px;
	top: $navbar-height;
	z-index: 900;
	width: 223px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 2px 2px 2px 2px;
	color: rgba(0, 0, 0, 0.6);
	display: none;
}

#user-menu-arrow {
	border-color: transparent transparent rgba(0, 0, 0, 0.2);
	border-style: dashed dashed solid;
	border-width: 0px 8px 8px;
	position: absolute;
	right: 15px;
	top: -8px;
	z-index: 900;
}

#user-menu-arrow-fill {
	border-color: transparent transparent rgb(255, 255, 255);
	border-style: dashed dashed solid;
	border-width: 0px 8px 8px;
	position: absolute;
	right: 15px;
	top: -7px;
	z-index: 901;
}

#user-menu-apps {

	padding: 15px;
	font-size: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	div {

		padding: 15px;
		width: 65px;
		height: 55px;
		text-align: center;
		display: inline-block;
		cursor: pointer;

		&:before {
			font-size: 36px;
			display: block;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.02);
			color: rgba(0, 0, 0, 0.9);
		}

	}

}

#user-menu-footer {

	font-size: 12px;

	div {

		width: 80px;
		padding: 15px;
		text-align: center;
		display: inline-block;
		cursor: pointer;

		&:before {
			margin-right: 10px;
			font-size: 150%;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.02);
			color: rgba(0, 0, 0, 0.9);
		}

	}

}


/**
 * Left panel menu
 * Menu with all the views that can be displayed
 */

.menu {
	background-color: #FFF;
	margin-left: - $left-menu-width - 10px;
	width: $left-menu-width;
	position: fixed;
	left: 0px;
	top: $navbar-height;
	bottom: 0px;
	z-index: 300;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding-top: 20px;
	transition-duration: 0.4s;
	transition-property: margin-left;
	transition-timing-function: ease-in-out;
}

.menu-show {
	margin-left: 0px;
}

.menu-item {

	height: 24px;
	line-height: 24px;
	padding: 13px 30px 13px 30px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);
	font-size: 15px;

	&:before {
		margin-right: 13px;
		font-size: 150%;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.02);
		color: rgba(0, 0, 0, 0.9);
	}

}

.menu-item-active {

	background-color: rgba(0, 0, 0, 0.06);

	&:hover {
		background-color: rgba(0, 0, 0, 0.08);
	}

}

.menu-separator {
	margin: 10px 0px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
}

.menu-bottom {
	vertical-align: bottom;
	position: absolute;
	bottom: 0px;
	width: 200px;
	left: 0px;
}

.menu-bottom > div {
	margin: 15px;
	color: rgba(0, 0, 0, 0.3);
}

#menu-sync {

	div {

		font-size: 12px;
		white-space: nowrap;
		cursor: pointer;
		display: inline-block;

		&:hover {
			color: rgba(0, 0, 0, 0.5);
			font-weight: bold;
		}

		&:before {
			margin-right: 10px;
			font-size: 130%;
		}

	}

}


/**
 * Add menu
 * Downside buttons to add some stuff
 */

#add-menu {

	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 0px 15px 5px 0px;
	text-align: right;
	z-index: 200;
	width: 200px;

	div {

		font-size: 11px;
		font-weight: bold;
		display: none;
		height: 52px;
		margin: 4px 4px 4px 10px;
		line-height: 52px;
		vertical-align: middle;

		&:nth-child(1) {
			display: inline-block;
		}
		&:nth-child(1) span {
			color: #DB4437;
		}
		&:nth-child(1) div {
			background-color: #DB4437;
		}
		&:nth-child(2) span {
			color: #DB4437;
		}
		&:nth-child(2) div {
			background-color: #DB4437;
		}
		&:nth-child(3) span {
			color: #3C80F6;
		}
		&:nth-child(3) div {
			background-color: #3C80F6;
		}
		&:nth-child(4) span {
			color: #FFCD35;
		}
		&:nth-child(4) div {
			background-color: #FFCD35;
		}
		&:nth-child(5) span {
			color: #3C80F6;
		}
		&:nth-child(5) div {
			background-color: #3C80F6;
		}

	}

	div div {

		display: inline-block;
		font-size: 18px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		border-radius: 50%;
		color: #FFF;
		line-height: 40px;
		text-align: center;
		vertical-align: middle;
		margin: 0px 6px 0px 10px;
		transition-duration: 0.1s;
		transition-property: height, width, margin-right, line-height, font-size;
		transition-timing-function: linear;

		&:hover {
			width: 52px;
			height: 52px;
			line-height: 52px;
			margin-right: 0px;
			font-size: 27px;
		}

	}

}


/**
 * Container
 */

#container {
	position: relative;
	top: $navbar-height;
	padding: 35px;
	min-height: 100px;
}

.dim {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 950;
	background-color: rgba(255, 255, 255, 0);
	display: none;
	text-align: center;
}

.dim-active {
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
}

#modal-container {
	position: absolute;
	top: 35px;
	margin: auto;
	width: 100%;
	z-index: 960;
	text-align: center;
}

#nothing-message {
	padding-top: 15px;
	text-align: center;
	font-size: 36px;
	color: #FFF;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	cursor: default;
}


/**
 * Modal
 */

.modal {
	
	background-color: #FFF;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
	z-index: 960;
	text-align: left;
	display: inline-block;
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 35px;

	.modal-header {

		font-weight: bold;
		padding: 12px 15px 8px 15px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);

		&:before {
			font-size: 150%;
			margin-right: 8px;
		}

		.modal-header-close {

			display: inline-block;
			font-size: 28px;
			float: right;
			margin-top: -6px;
			cursor: pointer;

			&:hover {
				color: rgba(0, 0, 0, 0.9);
			}
		}

	}

	.modal-content {

		padding: 20px 15px;
		font-size: 14px;
		text-align: left;

		.modal-content-column {
			text-align: center;
			display: inline-block;
		}

	}

	.modal-footer {
		padding: 10px 15px;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		text-align: center;
	}
}


/**
 * Miscellaneous objects
 */

button {

	box-shadow: none;
	background-color: rgb(245, 245, 245);
	background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241));
	color: rgb(68, 68, 68);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	min-width: 75px;
	line-height: 30px;
	padding: 0px 15px;

	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}

}

::-webkit-input-placeholder {	/* WebKit browsers */
	color: rgba(0, 0, 0, 0.2);;
}
:-moz-placeholder {				/* Mozilla Firefox 4 to 18 */
    opacity:  1;
    color: rgba(0, 0, 0, 0.2);;
}
::-moz-placeholder {			/* Mozilla Firefox 19+ */
    opacity:  1;
    color: rgba(0, 0, 0, 0.2);;
}
:-ms-input-placeholder {		/* Internet Explorer 10+ */
	color: rgba(0, 0, 0, 0.2);;
}

input {
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
	font-family: arial,sans-serif;
	width: 100%;
	height: 100%;
	outline: none;
}

textarea {
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
	font-family: arial,sans-serif;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	resize: none;
	outline: none;
}

.form-input {
	border-radius: 3px;
	display: inline-block;
	border: 1px solid #CCC;
	margin: 4px;
	width: auto;
	padding: 4px;
}

.form-input-error {
	border-color: #DB4437;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #DB4437;
}

.drag-drop-zone {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}


/**
 * Imports
 */

@import 'modals-global';