/**
 * Variables
 */

$navbar-height: 45px;
$left-menu-width: 250px;


/**
 * Global
 */

body {
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.07);
	font-family: arial,sans-serif;
	z-index: 100;
}


/**
 * Navbar
 * The colored navbar with a menu button, and the username
 */

.navbar {
	background: none repeat scroll 0% 0% #C0C0C0;
	height: $navbar-height;
	line-height: $navbar-height;
	width: 100%;
	position: fixed;
	top: 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	z-index: 600;
	vertical-align: middle;
}

#nav-menu {

	display: inline-block;
	height: 100%;
	margin-left: 25px;
	cursor: pointer;
	font-size: 16px;
	float: left;
	line-height: $navbar-height;

	@media (max-width: 600px) {
		margin-left: 10px;
	}

	span {
		line-height: $navbar-height;
		float: left;
	}

	.fa {
		margin-right: 10px;
		font-size: 150%;
	}

}

#nav-user {

	display: inline-block;
	height: 100%;
	margin-right: 25px;
	float: right;
	font-size: 14px;

	@media (max-width: 600px) {
		margin-right: 10px;
	}

	&>div, img {
		cursor: pointer;
		vertical-align: middle;
	}

	&>div {
		margin-right: 25px;
	}

	#search-menu {

		@media (min-width: 600px) {
			display: none;
		}

	}

	#user-menu {

		margin-right: 0px;

		img {
			width: 32px;
			height: 32px;
			border: 2px solid rgba(255, 255, 255, 0.6);
			border-radius: 50%;
		}

		table {
			width: 270px;
			border-collapse: collapse;
			margin: -10px;
		}

		#user-menu-info {

			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			padding: 15px;
			text-align: center;

			img {
				width: 85px;
				height: 85px;
				border: none;
				border-radius: 50%;
				cursor: default;
				box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
				margin-bottom: 5px;
			}

			#user-menu-name {
				font-size: 20px;
				line-height: 1.5;
			}

			#user-menu-mail {
				font-size: 12px;
			}

		}

		#user-menu-button {

			width: 135px;
			height: 50px;
			text-align: center;
			cursor: pointer;

			div {
				margin-right: 10px;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.02);
				color: rgba(0, 0, 0, 0.9);
			}

		}

	}

	#app-menu table {

		border-spacing: 15px;
		margin: -5px;

		td {

			width: 65px;
			height: 65px;
			text-align: center;
			cursor: pointer;
			font-size: 12px;

			div {
				width: 65px;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.02);
				color: rgba(0, 0, 0, 0.9);
			}

		}
	}

	#notifications {
		width: 200px;
		text-align: center;
	}

}

#nav-search {

	display: inline-block;
	background-color: rgba(255, 255, 255, 0.3);
	width: 442px;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	padding: 4px;
	border-radius: 4px;
	position: absolute;
	left: 50%;
	top: 7px;
	margin-left: -221px;

	@media (max-width: 1025px) and (min-width: 825px) {
		width: 242px;
		margin-left: -121px;
	}

	@media (min-width: 600px) and (max-width: 825px) {
		width: 142px;
		margin-left: -71px;
	}

	@media (max-width: 600px) {
		display: none;
		background-color: white;
		left: 0px;
		top: 0px;
		margin: 0px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 0px;
		padding: 6px 0px;
		width: 100%;
	}

	#nav-search-icon {
		margin: 3px 15px;
		float: left;
		width: 16px;
		cursor: default;
	}

	#nav-search-content {

		margin: 0px 25px 0px 46px;
		display: block;
		vertical-align: middle;

		input {
			height: 22px;
		}

		@media (max-width: 600px) {
			margin-right: 36px;
		}

	}

	#nav-search-stop {

		margin: 3px 5px;
		position: relative;
		top: -22px;
		right: 0px;
		float: right;
		cursor: pointer;

		@media (max-width: 600px) {
			margin-right: 16px;
		}

	}

}


/**
 * Left panel menu
 * Menu with all the views that can be displayed
 */

.menu {
	background-color: #FFF;
	margin-left: - $left-menu-width - 10px;
	width: $left-menu-width;
	position: fixed;
	left: 0px;
	top: $navbar-height;
	bottom: 0px;
	z-index: 300;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding-top: 20px;
	transition-duration: 0.4s;
	transition-property: margin-left;
	transition-timing-function: ease-in-out;
}

.menu-show {
	margin-left: 0px;
}

.menu-item {

	padding: 15px 20px 15px 20px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);
	font-size: 15px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.02);
		color: rgba(0, 0, 0, 0.9);
	}

	.fa {
		width: 2em;
		text-align: center;
	}

}

.menu-item-active {

	background-color: rgba(0, 0, 0, 0.06);

	&:hover {
		background-color: rgba(0, 0, 0, 0.08);
	}

}

.menu-separator {
	margin: 10px 0px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
}

.menu-bottom {
	vertical-align: bottom;
	position: absolute;
	bottom: 0px;
	width: 200px;
	left: 0px;
}

.menu-bottom > div {
	margin: 15px;
	color: rgba(0, 0, 0, 0.3);
}

#menu-sync {

	div {

		font-size: 12px;
		white-space: nowrap;
		cursor: pointer;
		display: inline-block;

		&:hover {
			color: rgba(0, 0, 0, 0.5);
			font-weight: bold;
		}

		span {
			margin-right: 10px;
		}

	}

}


/**
 * Add menu
 * Downside buttons to add some stuff
 */

#add-menu {

	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 0px 15px 5px 0px;
	text-align: right;
	z-index: 200;
	width: 200px;

	div {

		display: none;
		height: 52px;
		margin: 4px 4px 4px 10px;
		line-height: 52px;
		vertical-align: middle;

		&:nth-child(1) {
			display: inline-block;
		}
		&:nth-child(1) span {
			color: #DB4437;
		}
		&:nth-child(1) div {
			background-color: #DB4437;
		}
		&:nth-child(2) span {
			color: #DB4437;
		}
		&:nth-child(2) div {
			background-color: #DB4437;
		}
		&:nth-child(3) span {
			color: #3C80F6;
		}
		&:nth-child(3) div {
			background-color: #3C80F6;
		}
		&:nth-child(4) span {
			color: #FFCD35;
		}
		&:nth-child(4) div {
			background-color: #FFCD35;
		}
		&:nth-child(5) span {
			color: #3C80F6;
		}
		&:nth-child(5) div {
			background-color: #3C80F6;
		}

	}

	div span {
		font-size: 11px;
		font-weight: bold;
		background-color: #FFF;
		box-shadow: 0px 0px 3px 3px #FFF;
	}

	div div {

		display: inline-block;
		font-size: 18px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		border-radius: 50%;
		color: #FFF;
		line-height: 40px;
		text-align: center;
		vertical-align: middle;
		margin: 0px 6px 0px 10px;
		transition-duration: 0.1s;
		transition-property: height, width, margin-right, line-height, font-size;
		transition-timing-function: linear;
		box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.2);

		&:hover {
			width: 52px;
			height: 52px;
			line-height: 52px;
			margin-right: 0px;
			font-size: 27px;
		}

	}

}


/**
 * Container
 */

#container {

	position: relative;
	top: $navbar-height;
	padding: 35px 35px 50px 35px;
	min-height: 100px;

	@media (max-width: 600px) {
		padding: 20px 10px 45px 10px;
	}

}

.dim {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 950;
	background-color: rgba(255, 255, 255, 0);
	display: none;
	text-align: center;
}

.dim-active {
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
}

#modal-container {
	position: fixed;
	margin: auto;
	width: 100%;
	z-index: 960;
	text-align: center;
}

#nothing-message, .loader {

	padding-top: 15px;
	text-align: center;
	font-size: 36px;
	color: #FFF;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	cursor: default;

		span {
			font-size: 100px;
		}
}

.loader {
	position: absolute;
	top: 80px;
	width: 100%;
}


/**
 * Modal
 */

.modal {

	background-color: #FFF;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
	z-index: 960;
	text-align: left;
	display: inline-block;
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 35px;

	.modal-header {

		font-weight: bold;
		padding: 10px 15px 10px 15px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		font-size: 120%;

		.fa {
			display: inline-block;
			font-size: 130%;
			float: left;
			margin-right: 13px;
		}

		.modal-header-close {

			display: inline-block;
			font-size: 28px;
			float: right;
			margin-top: -6px;
			cursor: pointer;

			&:hover {
				color: rgba(0, 0, 0, 0.9);
			}
		}

	}

	.modal-content {

		padding: 20px 15px 0px 15px;
		font-size: 14px;
		text-align: left;
		overflow: auto;

		.modal-content-column {
			text-align: center;
			display: inline-block;
		}

		&:after {
			height: 20px;
			width: 0px;
			display: block;
			content: "";
		}

	}

	.modal-footer {

		padding: 10px 15px;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		text-align: center;
		clear: both;

		button {
			margin: 0px 15px;
		}

	}
}


/**
 * Miscellaneous objects
 */

button {

	box-shadow: none;
	background-color: rgb(245, 245, 245);
	background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241));
	color: rgb(68, 68, 68);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	min-width: 75px;
	line-height: 30px;
	padding: 0px 15px;

	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}

}

::-webkit-input-placeholder {	/* WebKit browsers */
	color: rgba(0, 0, 0, 0.2);;
}
:-moz-placeholder {				/* Mozilla Firefox 4 to 18 */
    opacity:  1;
    color: rgba(0, 0, 0, 0.2);;
}
::-moz-placeholder {			/* Mozilla Firefox 19+ */
    opacity:  1;
    color: rgba(0, 0, 0, 0.2);;
}
:-ms-input-placeholder {		/* Internet Explorer 10+ */
	color: rgba(0, 0, 0, 0.2);;
}

input {
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
	font-family: arial,sans-serif;
	width: 100%;
	height: 100%;
	outline: none;
}

textarea {
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
	font-family: arial,sans-serif;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	resize: none;
	outline: none;
}

.form-input {
	border-radius: 3px;
	display: inline-block;
	border: 1px solid #CCC;
	margin: 4px;
	width: auto;
	padding: 4px;
}

.form-input-error {
	border-color: #DB4437;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #DB4437;
}

.drag-drop-zone {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.dropdown {
	position: relative;
	display: inline-block;
	text-align: left;
}

.dropdown .dropdown-menu {

	line-height: 1;
	background-color: #FFF;
	position: absolute;
	z-index: 900;
	left: -16px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 2px 2px 2px 2px;
	color: rgba(0, 0, 0, 0.6);
	padding: 10px;
	display: none;
	font-family: arial,sans-serif;
	font-size: 14px;
	list-style-type: none;
	text-align: left;
	cursor: auto;

	.dropdown-arrow {
		border-color: transparent transparent rgba(0, 0, 0, 0.2);
		border-style: dashed dashed solid;
		border-width: 0px 8px 8px;
		position: absolute;
		left: 15px;
		top: -8px;
		z-index: 900;
	}

	.dropdown-arrow-fill {
		border-color: transparent transparent rgb(255, 255, 255);
		border-style: dashed dashed solid;
		border-width: 0px 8px 8px;
		position: absolute;
		left: 15px;
		top: -7px;
		z-index: 901;
	}

	li {

		padding: 7px;
		white-space: nowrap;
		color: rgba(0, 0, 0, 0.6);
		cursor: pointer;

		.fa {
			display: inline-block;
			padding: 0px;
			float: none;
			width: 20px;
			color: rgba(0, 0, 0, 0.6);
			text-align: left;
		}

		&:hover, &:hover .fa {
			background-color: rgba(0, 0, 0, 0.02);
			color: rgba(0, 0, 0, 0.9);
		}

	}

}

.dropdown-right .dropdown-menu {

	right: -16px;
	left: initial;

	.dropdown-arrow {
		right: 15px;
		left: initial;
	}

	.dropdown-arrow-fill {
		right: 15px;
		left: initial;
	}

}

.dropdown-button {
	cursor: pointer;
}


/**
 * Imports
 */

@import 'modals-global';