<!doctype html>

<head>

	<!-- Meta informations -->
	<meta charset="utf-8">
	<meta name="description" content="Notes application to save notes and todo lists">
	<meta name="author" content="Leleux Laurent">
	<meta name="viewport" content="width=device-width">

	<!-- Other -->
	<title>Notes</title>
	<link rel="icon" type="image/png" href="favicon.png">

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="styles/global.css">
	<link rel="stylesheet" href="styles/notes.css">
	<link rel="stylesheet" href="styles/login.css">
	<link rel="stylesheet" href="styles/icons-global.css">
	<link rel="stylesheet" href="styles/icons-notes.css">
	<link rel="stylesheet" href="libs/toastr.min.css">

</head>

<body ng-app="webApp" ng-controller="UserCtrl">

	<!-- Top navigation bar -->
	<div id="navbar" ng-if="$root.user">

		<!-- Left menu icon -->
		<div id="nav-menu" class="icon-global-menu"></div>

		<!-- Search menu -->
		<div id="nav-search">
			<div id="nav-search-icon" class="icon-global-search"></div>
			<div id="nav-search-content"><input type="text" ng-model="$root.search" placeholder="Search"></div>
			<div id="nav-search-stop" ng-show="$root.search && $root.search !== ''" ng-click="$root.search = '';" class="icon-global-cancel"></div>
		</div>

		<!-- User navbar menu -->
		<div id="nav-user">
			<img id="user-image" ng-src="{{$root.user.image || 'images/user.png'}}">
			{{$root.user.lastName}} {{$root.user.firstName}} &nbsp;&nbsp;&#9662;
		</div>

		<!-- User dropdown menu -->
		<div id="user-menu">
			<div id="user-menu-arrow"></div>
			<div id="user-menu-arrow-fill"></div>
			<div id="user-menu-apps">
				<div class="icon-global-reader">Reader</div>
				<div class="icon-global-contacts">Contacts</div>
				<div class="icon-global-calendar">Calendar</div>
				<div class="icon-global-mail">Mail</div>
				<div class="icon-global-pass">Pass</div>
				<div class="icon-global-notes">Notes</div>
			</div>
			<div id="user-menu-footer">
				<div class="icon-global-settings">Settings</div>
				<div class="icon-global-logout" ng-click="logout()">Logout</div>
			</div>
		</div>

	</div>

	<!-- Main container -->
	<div id="container">
		<div ng-view></div>
	</div>

	<div class="editor"></div>

	<!-- Libraries -->
	<script src="libs/jquery.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-resource.min.js"></script>
	<script src="libs/angular-route.min.js"></script>
	<script src="libs/angular-storage.min.js"></script>
	<script src="libs/toastr.min.js"></script>

	<!-- Custom Javascript -->
	<script src="scripts/app.js"></script>
	<script src="scripts/notes.js"></script>

</body>

</html>