<!-- Left menu -->
<div class="menu" ng-controller="LeftMenuCtrl">
	<!-- Items -->
	<div class="menu-item icon-contacts-all">All</div>
	<div class="menu-item icon-contacts-star">Starred</div>
	<div class="menu-item icon-contacts-group">Grouped</div>
	<div class="menu-item icon-contacts-nogroup">Ungrouped</div>
	<div class="menu-separator"></div>
	<div class="menu-item icon-contacts-group">Friends</div>
	<div class="menu-item icon-contacts-home">Family</div>
	<div class="menu-item icon-contacts-work">Work</div>
	<div class="menu-separator"></div>
	<div class="menu-item icon-contacts-trash">Trash</div>
	<!-- Sync status -->
	<div class="menu-bottom">
		<div id="menu-sync">
			<div class="icon-global-sync" ng-show="$root.syncStatus == 'syncing'" ng-click="$root.syncStatus = 'stopped'">Syncing</div>
			<div class="icon-global-ok" ng-show="$root.syncStatus == 'synced'" ng-click="$root.syncStatus = 'stopped'">Synced</div>
			<div class="icon-global-warning" ng-show="$root.syncStatus == 'error'" ng-click="$root.syncStatus = 'stopped'">Sync error</div>
			<div class="icon-global-warning" ng-show="$root.syncStatus == 'stopped'" ng-click="$root.syncStatus = 'syncing'">Sync stopped</div>
		</div>
	</div>
</div>


<!-- No contacts message -->
<div ng-if="(contacts | filter:$root.search).length === 0" id="nothing-message">No contacts here...</div>


<!-- Bottom add menu -->
<div id="add-menu">
	<div><div class="icon-global-add" ng-click="$parent.toggleAddMenu($event)"></div></div>
	<div><span>Import/export</span><div class="icon-global-import"></div></div>
	<div><span>New group</span><div class="icon-contacts-group" ng-click=""></div></div>
	<div><span>New contact</span><div class="icon-contacts-contact" ng-click=""></div></div>
</div>