<div id="modal-global-login" class="modal" ng-controller="LoginController">

	<!-- Header -->
	<div class="modal-header">
		<span class="fa fa-lock"></span>
		Log-in
	</div>

	<!-- Content -->
	<div id="login-form" class="modal-content">

		<div>Your session expired. Please log-in again:</div>

		<br>

		<div class="login-form-input">
			<div class="fa fa-user fa-fw"></div>
			<input type="text" placeholder="Login" tabindex="1" ng-model="credentials.login">
		</div>

		<br>

		<div class="login-form-input">
			<div class="fa fa-lock fa-fw"></div>
			<input type="password" placeholder="Password"  tabindex="1" ng-model="credentials.password">
		</div>

		<br>

		<div id="remember">
			<input type="checkbox" tabindex="1" ng-model="credentials.remember">
			<label for="remember"> Remember me ?</label>
		</div>

		<div id="login-error" ng-if="errorMessage && errorMessage !== ''">{{errorMessage}}</div>

	</div>

	<!-- Footer -->
	<div class="modal-footer">
		<button tabindex="1" ng-click="login()">Login</button>
	</div>

</div>