<!doctype html>

<html lang="en" ng-app="webApp">

<head>

	<!-- Meta informations -->
	<meta charset="utf-8">
	<meta name="description" content="Mist applications in the cloud ! Notes, contacts, calendar, rss reader...">
	<meta name="author" content="Leleux Laurent">
	<meta name="viewport" content="width=device-width">

	<!-- Other -->
	<title ng-bind="$root.title"></title>
	<link rel="icon" type="image/png" href="favicon.png">


	<!-- build:css({.,app}) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/toastr/toastr.css" />
	<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
	<link rel="stylesheet" href="bower_components/jcrop/css/jquery.Jcrop.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/global.css">
	<link rel="stylesheet" href="styles/contacts.css">
	<link rel="stylesheet" href="styles/notes.css">
	<link rel="stylesheet" href="styles/login.css">
	<!-- endbuild -->

</head>

<body ng-controller="ApplicationController" ng-cloak>

	<!-- Top navigation bar -->
	<div class="navbar" ng-class="'navbar-' + $root.appName" ng-if="$root.user">

		<!-- Left menu icon -->
		<div id="nav-menu" ng-click="toggleLeftMenu($event);"><span class="fa fa-navicon"></span><span id="nav-menu-title"></span></div>

		<!-- Right menu -->
		<div id="nav-user">
			<!-- Search icon -->
			<div class="fa fa-lg fa-search"></div>
			<!-- App selector -->
			<div id="app-menu" class="dropdown dropdown-right">
				<div class="dropdown-button"><div class="fa fa-lg fa-th"></div></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<table>
						<tr>
							<td><div class="fa fa-3x fa-rss"></div>Reader</td>
							<td ng-click="goto('/contacts');"><div class="fa fa-3x fa-users"></div>Contacts</td>
						</tr>
						<tr>
							<td><div class="fa fa-3x fa-calendar"></div>Calendar</td>
							<td><div class="fa fa-3x fa-envelope"></div>Mail</td>
						</tr>
						<tr>
							<td><div class="fa fa-3x fa-lock"></div>Pass</td>
							<td ng-click="goto('/notes');"><div class="fa fa-3x fa-lightbulb-o"></div>Notes</td>
						</tr>
					</table>
				</ul>
			</div>
			<!-- Notifications -->
			<div class="dropdown dropdown-right">
				<div class="dropdown-button"><div class="fa fa-lg fa-bell"></div></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<div id="notifications">No notifications...</div>
				</ul>
			</div>
			<!-- User menu -->
			<div id="user-menu" class="dropdown dropdown-right">
				<img class="dropdown-button" ng-src="{{$root.user.image || 'images/user.png'}}">
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
				</ul>
			</div>
		</div>

		<!-- Search menu -->
		<div id="nav-search">
			<span id="nav-search-icon" class="fa fa-search"></span>
			<div id="nav-search-content"><input type="text" ng-model="$root.search" placeholder="Search" tabindex="1"></div>
			<span id="nav-search-stop" class="fa fa-remove" ng-show="$root.search && $root.search !== ''" ng-click="$root.search = '';" ></span>
		</div>
		<div id="nav-search-button" ng-click="toggleSearchMenu($event);">
			<span class="fa fa-search"></span>
		</div>

		<!-- User dropdown menu
		<div id="user-menu">
			<div id="user-menu-arrow"></div>
			<div id="user-menu-arrow-fill"></div>
			<div id="user-menu-apps">
				<div><span class="fa fa-rss"></span>Reader</div>
				<div><span class="fa fa-users" ng-click="goto('/contacts');"></span>Contacts</div>
				<div><span class="fa fa-calendar"></span>Calendar</div>
				<div><span class="fa fa-envelope"></span>Mail</div>
				<div><span class="fa fa-lock"></span>Pass</div>
				<div><span class="fa fa-lightbulb-o" ng-click="goto('/notes');"></span>Notes</div>
			</div>
			<div id="user-menu-footer">
				<div ng-click="showSettings()"><span class="fa fa-cogs"></span><span>Settings</span></div>
				<div ng-click="logout()"><span class="fa fa-power-off"></span><span>Logout</span></div>
			</div>
		</div>-->

	</div>

	<!-- Main container -->
	<div id="container">
		<div ng-view></div>
	</div>

	<!-- Dim filter -->
	<div class="dim"></div>

	<!-- Loading message -->
	<div ng-if="loading" class="loader"><span class="fa fa-refresh fa-spin"></span><br><br>Loading... Please wait...</div>

	<!-- Modal container -->
	<div id="modal-container" ng-include="$root.modal"></div>

	<!-- Download link -->
	<a id="download-link" style="display: none"></a>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/toastr/toastr.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/jcrop/js/jquery.Jcrop.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="libs/masonry.js"></script>
	<script src="scripts/global/config.js"></script>
	<script src="scripts/global/controllers.js"></script>
	<script src="scripts/global/resources.js"></script>
	<script src="scripts/global/services.js"></script>
	<script src="scripts/notes/config.js"></script>
	<script src="scripts/notes/controllers.js"></script>
	<script src="scripts/notes/directives.js"></script>
	<script src="scripts/notes/resources.js"></script>
	<script src="scripts/notes/services.js"></script>
	<script src="scripts/notes/jquery-functions.js"></script>
	<script src="scripts/contacts/config.js"></script>
	<script src="scripts/contacts/controllers.js"></script>
	<script src="scripts/contacts/resources.js"></script>
	<!-- endbuild -->

</body>

</html>