#container {

	width: 100%;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);

	span {
		font-size: 48px;
		margin-bottom: 10px;
		display: inline-block;
	}

	#colored-line {

		height: 4px;
		width: 250px;
		margin: auto;
		margin-bottom: 20px;

		div {

			width: 33.33%;
			float: left;
			height: 4px;

			&:nth-child(1) {
				background-color: #DB4437;
			}

			&:nth-child(2) {
				background-color: #3C80F6;
			}

			&:nth-child(3) {
				background-color: #FFCD35;
			}

		}

	}

	input {
		text-align: left;
		display: inline-block;
		width: auto;
	}

}

.login-form-input {

	background-color: #FFF;
	border-radius: 6px;
	display: inline-block;
	height: 39px;
	border: 1px solid #CCC;
	margin: 3px;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 0.4s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	-o-animation-duration: 0.4s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	animation-fill-mode: both;

	div {
		display: inline-block;
		border-top: none;
		border-right: 1px solid #CCC;
		padding: 4px 10px;
		background-color: rgb(246, 246, 246);
		font-size: 20px;
		height: 31px;
		line-height: 31px;
		border-radius: 6px 0px 0px 6px;
	}

	input {
		padding: 4px;
		height: 31px;
		line-height: 1;
		font-size: 16px;
	}

}

.login-form-input-error {
	border-color: #DB4437;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #DB4437;
}

#remember {

	margin: 15px 5px;

	input {
		height: auto;
	}

}

#login-submit {

	text-align: center;

	button {

		border: 1px solid #CCC;
		padding: 4px 15px;
		background-color: rgb(246, 246, 246);
		font-size: 16px;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			border: 1px solid #BBB;
			background-color: rgb(230, 230, 230);
		}

	}

}

#login-error {
	color: #DB4437;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	25%, 75% {transform: translateX(-10px);}
	50% {transform: translateX(10px);}
}

.shake {
	animation-name: shake;
}