<div id="modal-global-settings" class="modal" ng-controller="SettingsController">

	<!-- Header -->
	<div class="modal-header">
		<span class="fa fa-user"></span>
		Profile
	</div>

	<!-- Content -->
	<div class="modal-content">
		<strong>Personal information:</strong>
		<table>
			<tr>
				<td>First name: </td>
				<td><input type="text" class="form-input" placeholder="First name" tabindex="1" ng-model="tmpUser.firstName"></td>
			</tr>
			<tr>
				<td>Last name: </td>
				<td><input type="text" class="form-input" placeholder="Last name" tabindex="1" ng-model="tmpUser.lastName"></td>
			</tr>
			<tr>
				<td>E-mail: </td>
				<td><input type="text" class="form-input" placeholder="E-mail" tabindex="1" ng-model="tmpUser.mail"></td>
			</tr>
		</table>
		<br><br>
		<strong>Change password:</strong>
		<table>
			<tr>
				<td>Password: </td>
				<td><input type="password" class="form-input" placeholder="Password" tabindex="1" ng-model="tmpUser.password" ng-class="{'form-input-error': tmpUser.password !== '' && tmpUser.password.length < 6}"></td>
			</tr>
			<tr>
				<td>Re-type password: </td>
				<td><input type="password" class="form-input" placeholder="Re-type password" tabindex="1" ng-model="tmpUser.password2" ng-class="{'form-input-error': tmpUser.password !== tmpUser.password2}"></td>
			</tr>
		</table>
		<br><br>
		<strong>Image:</strong>
		<br><br>
		<div>
			<img ng-src="{{tmpUser.image || 'images/user.png'}}">
			<input id="user-image-input" type="file" tabindex="1" onchange="angular.element(this).scope().uploadImage()">
			<canvas id="user-image-canvas"></canvas>
		</div>
	</div>

	<!-- Footer -->
	<div class="modal-footer">
		<button tabindex="1" ng-click="cancel();">Cancel</button>
		<button tabindex="1" ng-click="save();">Save</button>
	</div>

</div>