<div id="modal-notes-import" class="modal" ng-controller="ImportController">

	<!-- Header -->
	<div class="modal-header">
		<span class="fa fa-cloud-upload"></span>
		Import - Export
		<span class="modal-header-close" ng-click="close();">x</span>
	</div>

	<!-- Content -->
	<div class="modal-content">

		<!-- Import -->
		<div class="modal-content-column">

			<div class="fa fa-cloud-upload"></div>

			Please choose a file to import (JSON)<br>

			<div class="import-file"><input type="file" tabindex="1"></div>

			<br>

			<button tabindex="2" ng-click="import();">Import</button>
		</div>

		<!-- Export -->
		<div class="modal-content-column">

			<div class="fa fa-cloud-download"></div>

			Export the data in the JSON format to backup your notes, or import them in another Mist Notes Application.<br>

			<br>

			<button tabindex="5" ng-click="export();">Export</button>
		</div>

	</div>

</div>