<div id="modal-notes-conflict" class="modal">

	<!-- Header -->
	<div class="modal-header">
		<span class="fa fa-warning"></span>
		Conflict detected
	</div>

	<!-- Content -->
	<div class="modal-content">
		<div>
			A conflict has been detected between your version and another version on the server.<br>
			Maybe you are editing the same note in another browser.<br>
			Please choose the version that you want to keep.<br>
			You may edit it before choose it.<br>
		</div>

		<br>

		<!-- Local note view -->
		<div class="modal-content-column">

			<div class="note-conflict-version-title">Local version</div>

			<div id="local-note" class="note note-visible note-edit note-conflict <% if(rc.local.color) print('note-' + rc.local.color) %>">
				<input class="note-title" type="text" placeholder="Title" tabindex="1" value="<%= rc.local.title %>" />
				<% if (rc.local.tasks) { %>
				<div class="note-tasks">
					<% _.each(rc.local.tasks, function (task) { %>
					<div class="note-task <% if (task.done) print('note-task-done'); %>">
						<div class="note-task-icon"></div>
						<textarea class="note-task-content" rows="1" placeholder="Task" tabindex="1"><%= task.content %></textarea>
					</div>
					<% }) %>
				</div>
				<% } else { %>
				<textarea class="note-content" rows="1" placeholder="Note" tabindex="1"><%= rc.local.content %></textarea>
				<% } %>
			</div>

			<% if (rc.local.modificationDate) { %>
			<div class="note-conflict-date">Last modification on <%= rc.local.modificationDate %></div>
			<% } %>
			<% if (rc.local.deleteDate) { %>
			<div class="note-conflict-date">Deleted on <%= rc.local.deleteDate %></div>
			<% } %>

			<br>

			<% if (rc.remote) { %>
			<div><button class="modal-button-local" tabindex="3">Choose this version</button></div>
			<% } else { %>
			<div><button class="modal-button-local" tabindex="3">Add this note</button></div>
			<% } %>
		</div>

		<!-- Remote note view -->
		<div  class="modal-content-column">

			<div class="note-conflict-version-title">Remote version</div>

			<% if (rc.remote) { %>
			<div id="remote-note" class="note note-visible note-edit note-conflict <% if(rc.remote.color) print('note-' + rc.remote.color) %>">
				<input class="note-title" type="text" placeholder="Title" tabindex="2" value="<%= rc.remote.title %>" />
				<% if (rc.remote.tasks) { %>
				<div class="note-tasks">
					<% _.each(rc.remote.tasks, function (task) { %>
					<div class="note-task <% if (task.done) print('note-task-done'); %>">
						<div class="note-task-icon"></div>
						<textarea class="note-task-content" rows="1" placeholder="Task" tabindex="2"><%= task.content %></textarea>
					</div>
					<% }) %>
				</div>
				<% } else { %>
				<textarea class="note-content" rows="1" placeholder="Note" tabindex="2"><%= rc.remote.content %></textarea>
				<% } %>
			</div>
			<% } else { %>
			<div class="note-conflict-no-remote">
				No note found on the server.
			</div>
			<% } %>

			<% if (rc.remote && rc.remote.modificationDate) { %>
			<div class="note-conflict-date">Last modification on <%= rc.remote.modificationDate %></div>
			<% } %>
			<% if (rc.remote && rc.remote.deleteDate) { %>
			<div class="note-conflict-date">Deleted on <%= rc.remote.deleteDate %></div>
			<% } %>

			<br>

			<% if (rc.remote) { %>
			<div><button class="modal-button-remote" tabindex="3">Choose this version</button></div>
			<% } else { %>
			<div><button class="modal-button-remote" tabindex="3">Delete note</button></div>
			<% } %>
		</div>

	</div>

</div>