<!doctype html>

<html lang="en">

<head>

	<!-- Meta informations -->
	<meta charset="utf-8">
	<meta name="description" content="Mist applications in the cloud ! Notes, contacts, calendar, rss reader...">
	<meta name="author" content="Leleux Laurent">
	<meta name="viewport" content="width=device-width">

	<!-- Other -->
	<title>Mist - Contacts</title>
	<link rel="icon" type="image/png" href="favicon.png">

	<!-- build:css(.tmp/global) global/styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="../../bower_components/toastr/toastr.css" />
	<link rel="stylesheet" href="../../bower_components/fontawesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../../bower_components/jcrop/css/jquery.Jcrop.css" />
	<!-- endbower -->
	<link rel="stylesheet" href="../global/styles/global.css">
	<!-- endbuild -->

	<!-- build:css(.tmp/contacts) contacts/styles/main.css -->
	<link rel="stylesheet" href="styles/contacts.css">
	<!-- endbuild -->

</head>

<body>

	<!-- Top navigation bar -->
	<div class="navbar navbar-contacts">

		<!-- Left menu icon -->
		<div id="nav-menu"><span class="fa fa-navicon"></span><span id="nav-menu-title">All</span></div>

		<!-- Right menu -->
		<div id="nav-user">
			<!-- Search icon -->
			<div id="search-menu" class="fa fa-lg fa-search"></div>
			<!-- App selector -->
			<div id="app-menu" class="dropdown dropdown-right">
				<div class="dropdown-button"><div class="fa fa-lg fa-th"></div></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<table>
						<tr>
							<td><div class="fa fa-3x fa-rss"></div>Reader</td>
							<td><div class="fa fa-3x fa-users"></div>Contacts</td>
						</tr>
						<tr>
							<td><div class="fa fa-3x fa-calendar"></div>Calendar</td>
							<td><div class="fa fa-3x fa-envelope"></div>Mail</td>
						</tr>
						<tr>
							<td><div class="fa fa-3x fa-lock"></div>Pass</td>
							<td onclick="location.replace('/notes');"><div class="fa fa-3x fa-lightbulb-o"></div>Notes</td>
						</tr>
					</table>
				</ul>
			</div>
			<!-- Notifications -->
			<div class="dropdown dropdown-right">
				<div class="dropdown-button"><div class="fa fa-lg fa-bell"></div></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<div id="notifications">No notifications...</div>
				</ul>
			</div>
			<!-- User menu -->
			<div id="user-menu" class="dropdown dropdown-right">
				<img class="dropdown-button">
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<table>
						<tr>
							<td colspan="2" id="user-menu-info">
								<img><br>
								<span id="user-menu-name"></span><br>
								<span id="user-menu-mail"></span>
							</td>
						</tr>
						<tr>
							<td class="user-menu-button" id="user-menu-settings"><div class="fa fa-lg fa-cogs"></div><span>Settings</span></td>
							<td class="user-menu-button" id="user-menu-logout"><div class="fa fa-lg fa-power-off"></div><span>Logout</span></td>
						</tr>
					</table>
				</ul>
			</div>
		</div>

		<!-- Search menu -->
		<div id="nav-search">
			<span id="nav-search-icon" class="fa fa-search"></span>
			<div id="nav-search-content"><input type="text" placeholder="Search" tabindex="1"></div>
			<span id="nav-search-stop" class="fa fa-remove"></span>
		</div>

	</div>

	<!-- Main container -->
	<div id="container">

		<!-- Left menu -->
		<div class="menu">
			<!-- Items -->
			<div id="menu-item-all" data-item="all" class="menu-item menu-item-active"><span class="fa fa-th fa-lg"></span>All</div>
			<div id="menu-item-starred" data-item="starred" class="menu-item"><span class="fa fa-star fa-lg"></span>Starred</div>
			<div id="menu-item-ungrouped" data-item="ungrouped" class="menu-item"><span class="fa fa-question fa-lg"></span>Ungrouped</div>
			<div class="menu-separator"></div>
			<div id="menu-groups"></div>
			<div class="menu-separator"></div>
			<div id="menu-item-trash" data-item="trash" class="menu-item"><span class="fa fa-trash fa-lg"></span>Trash</div>
			<!-- Sync status -->
			<div class="menu-bottom">
				<div id="menu-sync">
					<div id="menu-sync-syncing"><span class="fa fa-refresh fa-lg"></span>Syncing</div>
					<div id="menu-sync-synced"><span class="fa fa-check fa-lg"></span>Synced</div>
					<div id="menu-sync-error"><span class="fa fa-warning fa-lg"></span>Sync error</div>
					<div id="menu-sync-stopped"><span class="fa fa-warning fa-lg"></span>Sync stopped</div>
				</div>
			</div>
		</div>

		<!-- No contacts message -->
		<div id="nothing-message">No contacts here...</div>

		<!-- Grid container for contacts -->
		<div id="contacts-container"></div>

		<!-- More contacts message -->
		<div id="more"><span id="nbr-shown"></span> of <span id="nbr-total"></span><br><span class="fa fa-2x fa-ellipsis-v"></span></div>

		<!-- Bottom add menu -->
		<div id="add-menu">
			<div><div id="add-menu-button" class="fa fa-plus"></div></div>
			<div><span>Import/export</span><div id="add-menu-import" class="fa fa-cloud-upload"></div></div>
			<div><span>New group</span><div id="add-menu-group" class="fa fa-users"></div></div>
			<div><span>New contact</span><div id="add-menu-contact" class="fa fa-user"></div></div>
		</div>

	</div>

	<!-- Dim filter -->
	<div class="dim"></div>

	<!-- Loading message -->
	<div id="loader"><span class="fa fa-refresh fa-spin"></span><br><br>Loading... Please wait...</div>

	<!-- Modal container -->
	<div id="modal-container"></div>

	<!-- Download link -->
	<a id="download-link" style="display: none"></a>

	<script type="text/template" id="template-menu-item">
		<div id="menu-item-<%= rc._id %>" class="menu-item" data-item="<%= rc._id %>"><span class="fa fa-lg <%= rc.icon %>"></span><%= rc.name %></div>
	</script>

	<!-- Contact template -->
	<script type="text/template" id="template-contact">
		<div class="contact">
			<!-- Common data -->
			<img class="image" src="<%= rc.image || '../global/images/user.png' %>">
			<div class="name">
				<span><%= rc.firstName %> <%= rc.lastName %></span>
			</div>
			<!-- Samples -->
			<div class="sample-mail">
				<% if (rc.mails && rc.mails.length > 0) { %><%= rc.mails[0].address %> <% if (rc.mails.length > 1) { %><span>(+<%= rc.mails.length - 1 %>)</span><% }} %>
			</div>
			<div class="sample-phone">
				<% if (rc.phones && rc.phones.length > 0) { %><%= rc.phones[0].number %> <% if (rc.phones.length > 1) { %><span>(+<%= rc.phones.length - 1 %>)</span><% }} %>
			</div>
			<div class="sample-address">
				<% if (rc.addresses && rc.addresses.length > 0) { %><% print(ContactsController.formatInlineAddress(rc.addresses[0])); %> <% if (rc.addresses.length > 1) { %><span>(+<%= rc.addresses.length - 1 %>)</span><% }} %>
			</div>
			<div class="sample-note"><%= rc.note %></div>
		</div>
	</script>

	<!-- Contact full information template -->
	<script type="text/template" id="template-full-info">
		<div class="full-mails" ng-if="contact.mails && contact.mails.length > 0">
			<div class="mail" ng-repeat="mail in contact.mails">
				<!-- Mail icon (+dropdown) -->
				<div class="dropdown dropdown-left">
					<div class="fa fa-lg" ng-class="{'fa-envelope': mail.type=='personal', 'fa-briefcase': mail.type=='professional', 'dropdown-button': contact===activeContact&&editing}"></div>
					<ul class="dropdown-menu">
						<div class="dropdown-arrow"></div>
						<div class="dropdown-arrow-fill"></div>
						<li ng-click="setMailType(contact, mail, 'personal');"><div class="fa fa-envelope"></div>Home</li>
						<li ng-click="setMailType(contact, mail, 'professional');"><div class="fa fa-briefcase"></div>Work</li>
					</ul>
				</div>
				<!-- Mail view -->
				<div class="mail-show"><a ng-href="mailto:{{mail.address}}">{{mail.address}}</a></div>
				<!-- Mail editor -->
				<div class="mail-edit"><input type="text" ng-model="mail.address" placeholder="E-mail" ng-keydown="fieldKeyListener($event, contact);" /></div>
			</div>
		</div>
		<div class="full-phones" ng-if="contact.phones && contact.phones.length > 0">
			<div class="phone" ng-repeat="phone in contact.phones">
				<!-- Phone icon (+dropdown) -->
				<div class="dropdown dropdown-left">
					<div class="fa fa-lg" ng-class="{'fa-phone': phone.type=='home', 'fa-briefcase': phone.type=='work', 'fa-mobile': phone.type=='cell', 'fa-fax': phone.type=='fax', 'fa-bell': phone.type=='pager', 'dropdown-button': contact===activeContact&&editing}"></div>
					<ul class="dropdown-menu">
						<div class="dropdown-arrow"></div>
						<div class="dropdown-arrow-fill"></div>
						<li ng-click="setPhoneType(contact, phone, 'home');"><div class="fa fa-phone"></div>Home</li>
						<li ng-click="setPhoneType(contact, phone, 'work');"><div class="fa fa-briefcase"></div>Work</li>
						<li ng-click="setPhoneType(contact, phone, 'cell');"><div class="fa fa-mobile"></div>Cell</li>
						<li ng-click="setPhoneType(contact, phone, 'fax');"><div class="fa fa-fax"></div>Fax</li>
						<li ng-click="setPhoneType(contact, phone, 'pager');"><div class="fa fa-bell"></div>Pager</li>
					</ul>
				</div>
				<!-- Phone view -->
				<div class="mail-show">{{phone.number}}</div>
				<!-- Phone editor -->
				<div class="mail-edit"><input type="text" ng-model="phone.number" placeholder="Phone number" ng-keydown="fieldKeyListener($event, contact);" /></div>
			</div>
		</div>
		<div class="full-addresses"  ng-if="contact.addresses && contact.addresses.length > 0">
			<div class="address" ng-repeat="address in contact.addresses">
				<!-- Address icon (+dropdown) -->
				<div class="dropdown dropdown-left">
					<div class="fa fa-lg" ng-class="{'fa-home': address.type=='home', 'fa-building': address.type=='work', 'dropdown-button': contact===activeContact&&editing}"></div>
					<ul class="dropdown-menu">
						<div class="dropdown-arrow"></div>
						<div class="dropdown-arrow-fill"></div>
						<li ng-click="setAddressType(contact, address, 'home');"><div class="fa fa-home"></div>Home</li>
						<li ng-click="setAddressType(contact, address, 'work');"><div class="fa fa-building"></div>Work</li>
					</ul>
				</div>
				<!-- Address view -->
				<div class="address-show">
					{{address.street}} {{address.number}}<br>
					{{address.postalCode}} {{address.locality}}<br>
					{{address.country}}
				</div>
				<!-- Address editor -->
				<div class="address-edit">
					<input type="text" ng-model="address.street" placeholder="Street" ng-keydown="fieldKeyListener($event, contact);" />
					<input type="text" ng-model="address.number" placeholder="Number" ng-keydown="fieldKeyListener($event, contact);" />
					<br>
					<input type="text" ng-model="address.postalCode" placeholder="Zip" ng-keydown="fieldKeyListener($event, contact);" />
					<input type="text" ng-model="address.locality" placeholder="City" ng-keydown="fieldKeyListener($event, contact);" />
					<br>
					<input type="text" ng-model="address.country" placeholder="Country" ng-keydown="fieldKeyListener($event, contact);" />
				</div>
			</div>
		</div>
		<div class="full-info"  ng-if="contact.birthday!==undefined || contact.url!==undefined || contact.pubKey!==undefined">
			<div class="birthday" ng-if="contact.birthday!==undefined">
				<div class="fa fa-lg fa-birthday-cake"></div>
				<div class="birthday-show">{{contact.birthday | date:shortDay}}</div>
				<div class="birthday-edit"><input type="date" ng-model="$parent.$parent.$parent.$parent.tmpDate" placeholder="BirthDay" /></div>
			</div>
			<div class="website" ng-if="contact.url!==undefined">
				<div class="fa fa-lg fa-globe"></div>
				<div class="website-show"><a ng-href="{{contact.url}}" target="_blank">{{contact.url}}</a></div>
				<div class="website-edit"><input type="text" ng-model="contact.url" placeholder="Website" ng-keydown="fieldKeyListener($event, contact);" /></div>
			</div>
			<div class="public-key" ng-if="contact.pubKey!==undefined">
				<div class="fa fa-lg fa-key"></div>
				<div class="public-key-show">{{contact.pubKey}}</div>
				<div class="public-key-edit"><input type="text" ng-model="contact.pubKey" placeholder="Public Key" ng-keydown="fieldKeyListener($event, contact);" /></div>
			</div>
		</div>
	</script>

	<!-- build:js global/scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../../bower_components/jquery/dist/jquery.js" defer></script>
	<script src="../../bower_components/toastr/toastr.js" defer></script>
	<script src="../../bower_components/jcrop/js/jquery.Jcrop.js" defer></script>
	<script src="../../bower_components/underscore/underscore.js" defer></script>
	<!-- endbower -->
	<script src="../global/scripts/Config.js" defer></script>
	<script src="../global/scripts/Session.js" defer></script>
	<script src="../global/scripts/Application.js" defer></script>

	<script src="../global/scripts/Resource.js" defer></script>
	<script src="../global/scripts/UserResource.js" defer></script>

	<script src="../global/scripts/AuthService.js" defer></script>
	<script src="../global/scripts/DownloadService.js" defer></script>
	<script src="../global/scripts/LoaderService.js" defer></script>
	<script src="../global/scripts/ModalService.js" defer></script>
	<script src="../global/scripts/SyncService.js" defer></script>

	<script src="../global/scripts/ApplicationController.js" defer></script>
	<script src="../global/scripts/SettingsModalController.js" defer></script>
	<script src="../global/scripts/LoginModalController.js" defer></script>
	<script src="../global/scripts/ConfirmModalController.js" defer></script>
	<!-- endbuild -->

	<!-- build:js contacts/scripts/main.js -->
	<script src="scripts/ContactResource.js" defer></script>
	<script src="scripts/ContactsController.js" defer></script>
	<script src="scripts/ImportModalController.js" defer></script>
	<script src="scripts/main.js" defer></script>
	<!-- endbuild -->

</body>

</html>