<!-- Left menu -->
<div class="menu">
	<!-- Items -->
	<div class="menu-item"><span class="fa fa-th fa-lg"></span>All</div>
	<div class="menu-item"><span class="fa fa-star fa-lg"></span>Starred</div>
	<div class="menu-item"><span class="fa fa-users fa-lg"></span>Grouped</div>
	<div class="menu-item"><span class="fa fa-question fa-lg"></span>Ungrouped</div>
	<div class="menu-separator"></div>
	<div class="menu-item"><span class="fa fa-users fa-lg"></span>Friends</div>
	<div class="menu-item"><span class="fa fa-home fa-lg"></span>Family</div>
	<div class="menu-item"><span class="fa fa-briefcase fa-lg"></span>Work</div>
	<div class="menu-separator"></div>
	<div class="menu-item"><span class="fa fa-trash fa-lg"></span>Trash</div>
	<!-- Sync status -->
	<div class="menu-bottom">
		<div id="menu-sync">
			<div ng-show="$root.syncStatus == 'syncing'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-refresh fa-lg"></span>Syncing</div>
			<div ng-show="$root.syncStatus == 'synced'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-check fa-lg"></span>Synced</div>
			<div ng-show="$root.syncStatus == 'error'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-warning fa-lg"></span>Sync error</div>
			<div ng-show="$root.syncStatus == 'stopped'" ng-click="$root.syncStatus = 'syncing'"><span class="fa fa-warning fa-lg"></span>Sync stopped</div>
		</div>
	</div>
</div>


<div class="contact" ng-repeat="contact in contacts | filter:$root.search">{{contact.firstName}} {{contact.lastName}}</div>


<!-- No contacts message -->
<div ng-if="(contacts | filter:$root.search).length === 0" id="nothing-message">No contacts here...</div>


<!-- Bottom add menu -->
<div id="add-menu">
	<div><div class="fa fa-plus" ng-click="$parent.toggleAddMenu($event)"></div></div>
	<div><span>Import/export</span><div class="fa fa-cloud-upload" ng-click=""></div></div>
	<div><span>New group</span><div class="fa fa-users" ng-click=""></div></div>
	<div><span>New contact</span><div class="fa fa-user" ng-click=""></div></div>
</div>