<!-- Left menu -->
<div class="menu">
	<!-- Items -->
	<div id="menu-item-all" class="menu-item" ng-click="$root.location = 'all'" ng-class="{'menu-item-active': $root.location=='all'}"><span class="fa fa-th fa-lg"></span>All</div>
	<div class="menu-item"><span class="fa fa-star fa-lg"></span>Starred</div>
	<div class="menu-item"><span class="fa fa-question fa-lg"></span>Ungrouped</div>
	<div class="menu-separator"></div>
	<div class="menu-item"><span class="fa fa-users fa-lg"></span>Friends</div>
	<div class="menu-item"><span class="fa fa-home fa-lg"></span>Family</div>
	<div class="menu-item"><span class="fa fa-briefcase fa-lg"></span>Work</div>
	<div class="menu-separator"></div>
	<div id="menu-item-trash" class="menu-item" ng-click="$root.location = 'trash'" ng-class="{'menu-item-active': $root.location=='trash'}"><span class="fa fa-trash fa-lg"></span>Trash</div>
	<!-- Sync status -->
	<div class="menu-bottom">
		<div id="menu-sync">
			<div ng-show="$root.syncStatus == 'syncing'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-refresh fa-lg"></span>Syncing</div>
			<div ng-show="$root.syncStatus == 'synced'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-check fa-lg"></span>Synced</div>
			<div ng-show="$root.syncStatus == 'error'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-warning fa-lg"></span>Sync error</div>
			<div ng-show="$root.syncStatus == 'stopped'" ng-click="$root.syncStatus = 'syncing'"><span class="fa fa-warning fa-lg"></span>Sync stopped</div>
		</div>
	</div>
</div>


<div class="contacts" ng-if="(contacts | filter:filterContacts | filter:$root.search).length > 0 && !loading">
	<div class="contact" ng-repeat="contact in contacts | filter:filterContacts | filter:$root.search" ng-click="showFullContact(contact);" ng-class="{'contact-full': contact===activeContact, 'contact-edit': contact===activeContact&&editing}">

		<!-- Menu -->
		<div class="edit-menu">
			<div class="dropdown dropdown-right" ng-if="editing">
				<div class="fa fa-lg fa-plus dropdown-button"></div>
				<ul class="dropdown-menu">
					<div class="dropdown-arrow"></div>
					<div class="dropdown-arrow-fill"></div>
					<li ng-click="addPhone();"><div class="fa fa-phone"></div>Phone number</li>
					<li ng-click="addMail();"><div class="fa fa-envelope"></div>E-mail address</li>
					<li ng-click="addAddress();"><div class="fa fa-home"></div>Postal address</li>
					<li ng-if="contact.birthday===undefined" ng-click="contact.birthday='';"><div class="fa fa-birthday-cake"></div>Birthday</li>
					<li ng-if="contact.url===undefined" ng-click="contact.url='';"><div class="fa fa-globe"></div>Website</li>
					<li ng-if="contact.pubKey===undefined" ng-click="contact.pubKey='';"><div class="fa fa-key"></div>Public Key</li>
				</ul>
			</div>
			<div class="fa fa-lg fa-remove" ng-if="contact.deleteDate" ng-click="destroyContact(contact);"></div>
			<div class="fa fa-lg fa-undo" ng-if="contact.deleteDate" ng-click="restoreContact(contact);"></div>
			<div class="fa fa-lg fa-trash" ng-if="!editing && !contact.deleteDate" ng-click="deleteContact(contact);"></div>
			<div class="fa fa-lg fa-pencil" ng-if="!editing && !contact.deleteDate" ng-click="startEditContact($event, contact);"></div>
			<div class="fa fa-lg fa-check" ng-if="editing" ng-click="stopEditContact();"></div>
		</div>

		<!-- Common data -->
		<img class="image" ng-src="{{contact.image || 'images/user.png'}}" ng-click="uploadImage(contact);">
		<div class="name">
			<span ng-click="startEditContact($event, contact);">{{contact.firstName}} {{contact.lastName}}</span>
			<input type="text" ng-model="contact.firstName" placeholder="Firstname" ng-keydown="fieldKeyListener($event, contact);" />
			<input type="text" ng-model="contact.lastName" placeholder="Lastname" ng-keydown="fieldKeyListener($event, contact);" />
		</div>

		<!-- Samples -->
		<div class="sample-mail">{{contact.mails[0].address}} <span ng-if="contact.mails.length > 1">(+{{contact.mails.length -1}})</span></div>
		<div class="sample-phone">{{contact.phones[0].number}} <span ng-if="contact.phones.length > 1">(+{{contact.phones.length -1}})</span></div>
		<div class="sample-address">{{contact.addresses[0] | formatInlineAddress}} <span ng-if="contact.addresses.length > 1">(+{{contact.addresses.length -1}})</span></div>
		<div class="sample-note">{{contact.note}}</div>

		<!-- Full data -->
		<div class="full-mails" ng-if="contact.mails && contact.mails.length > 0">
			<div class="mail" ng-repeat="mail in contact.mails">
				<div class="fa fa-lg fa-envelope"></div>
				<div class="mail-show" ng-click="startEditContact($event, contact);"><a ng-href="mailto:{{mail.address}}">{{mail.address}}</a></div>
				<div class="mail-edit"><input type="text" ng-model="mail.address" placeholder="E-mail" ng-keydown="fieldKeyListener($event, contact);" /></div>
			</div>
		</div>
		<div class="full-phones" ng-if="contact.phones && contact.phones.length > 0">
			<div class="phone" ng-repeat="phone in contact.phones">
				<div class="fa fa-lg"  ng-class="{'fa-phone': phone.type=='home', 'fa-building': phone.type=='work', 'fa-mobile': phone.type=='cell', 'fa-fax': phone.type=='fax', 'fa-bell': phone.type=='pager'}"></div><input type="text" ng-model="phone.number" placeholder="Phone number" ng-keydown="fieldKeyListener($event, contact);" ng-click="startEditContact($event, contact);" />
			</div>
		</div>
		<div class="full-addresses"  ng-if="contact.addresses && contact.addresses.length > 0">
			<div class="address" ng-repeat="address in contact.addresses">
				<div class="fa fa-lg" ng-class="{'fa-home': address.type=='home', 'fa-building': address.type=='work'}"></div>
				<div class="address-show" ng-click="startEditContact($event, contact);">
					{{address.street}} {{address.number}}<br>
					{{address.postalCode}} {{address.locality}}<br>
					{{address.country}}
				</div>
				<div class="address-edit">
					<input type="text" ng-model="address.street" placeholder="Street" ng-keydown="fieldKeyListener($event, contact);" />
					<input type="text" ng-model="address.number" placeholder="Number" ng-keydown="fieldKeyListener($event, contact);" />
					<br>
					<input type="text" ng-model="address.postalCode" placeholder="Zip" ng-keydown="fieldKeyListener($event, contact);" />
					<input type="text" ng-model="address.locality" placeholder="City" ng-keydown="fieldKeyListener($event, contact);" />
					<br>
					<input type="text" ng-model="address.country" placeholder="Country" ng-keydown="fieldKeyListener($event, contact);" />
				</div>
			</div>
		</div>
		<div class="full-info"  ng-if="contact.birthday!==undefined || contact.url!==undefined || contact.pubKey!==undefined">
			<div class="birthday" ng-if="contact.birthday!==undefined">
				<div class="fa fa-lg fa-birthday-cake"></div>
				<div class="birthday-show" ng-click="startEditContact($event, contact);">{{contact.birthday | date:shortDay}}</div>
				<div class="birthday-edit"><input type="date" ng-model="$parent.$parent.$parent.$parent.tmpDate" placeholder="BirthDay" /></div>
			</div>
			<div class="website" ng-if="contact.url!==undefined">
				<div class="fa fa-lg fa-globe"></div>
				<div class="website-show" ng-click="startEditContact($event, contact);"><a ng-href="{{contact.url}}" target="_blank">{{contact.url}}</a></div>
				<div class="website-edit"><input type="text" ng-model="contact.url" placeholder="Website" ng-keydown="fieldKeyListener($event, contact);" /></div>
			</div>
			<div class="public-key" ng-if="contact.pubKey!==undefined">
				<div class="fa fa-lg fa-key"></div><input type="text" ng-model="contact.pubKey" placeholder="Public Key" ng-keydown="fieldKeyListener($event, contact);" ng-click="startEditContact($event, contact);" />
			</div>
		</div>

	</div>
</div>

<!-- No contacts message -->
<div ng-if="(contacts | filter:filterContacts | filter:$root.search).length === 0 && !loading" id="nothing-message">No contacts here...</div>


<!-- Bottom add menu -->
<div id="add-menu">
	<div><div class="fa fa-plus" ng-click="$parent.toggleAddMenu($event)"></div></div>
	<div><span>Import/export</span><div class="fa fa-cloud-upload" ng-click=""></div></div>
	<div><span>New group</span><div class="fa fa-users" ng-click=""></div></div>
	<div><span>New contact</span><div class="fa fa-user" ng-click="addNewContact();"></div></div>
</div>