<div id="login-container">

	<span>Mist</span>

	<div>
		<div></div>
		<div></div>
		<div></div>
	</div>

	<form ng-submit="login()" novalidate>

		<div class="login-form-input">
			<div class="fa fa-user fa-fw"></div>
			<input type="text" placeholder="Login" ng-model="credentials.login">
		</div>

		<br>

		<div class="login-form-input">
			<div class="fa fa-lock fa-fw"></div>
			<input type="password" placeholder="Password" ng-model="credentials.password">
		</div>

		<br>

		<div id="remember">
			<input type="checkbox" ng-model="credentials.remember">
			<label for="remember"> Remember me ?</label>
		</div>

		<div id="login-submit">
			<button type="submit">Login</button>
		</div>

		<div id="login-error">{{errorMessage}}</div>

	</form>

</div>