<div id="login-container">

<span id="login-title">Mist</span>

<div id="login-colored-line">
	<div></div>
	<div></div>
	<div></div>
</div>

<form id="login-form" name="login-form" ng-submit="login()" novalidate>

	<div class="login-form-input">
		<div class="icon-global-user"></div>
		<input type="text" name="login" placeholder="Login" ng-model="credentials.login">
	</div>

	<br>

	<div class="login-form-input">
		<div class="icon-global-pass"></div>
		<input type="password" name="password" placeholder="Password" ng-model="credentials.password">
	</div>

	<br>

	<div id="remember">
		<input type="checkbox" name="remember" ng-model="credentials.remember">
		<label for="remember"> Remember me ?</label>
	</div>

	<div id="login-submit">
		<button type="submit">Login</button>
	</div>

	<div id="login-error">{{errorMessage}}</div>

</form>

</div>