<!-- Left menu -->
<div class="menu">
	<!-- Items -->
	<div id="menu-item-all" ng-click="$root.location = 'all'" ng-class="{'menu-item-active': $root.location=='all'}" class="menu-item"><span class="fa fa-th fa-lg"></span>All</div>
	<div id="menu-item-notes" ng-click="$root.location = 'notes'" ng-class="{'menu-item-active': $root.location=='notes'}" class="menu-item"><span class="fa fa-lightbulb-o fa-lg"></span>Notes</div>
	<div id="menu-item-todo" ng-click="$root.location = 'todo'" ng-class="{'menu-item-active': $root.location=='todo'}" class="menu-item"><span class="fa fa-check fa-lg"></span>Todo lists</div>
	<div class="menu-separator"></div>
	<div id="menu-item-trash" ng-click="$root.location = 'trash'" ng-class="{'menu-item-active': $root.location=='trash'}" class="menu-item"><span class="fa fa-trash-o fa-lg"></span>Trash</div>
	<!-- Sync status -->
	<div class="menu-bottom">
		<div id="menu-sync">
			<div ng-show="$root.syncStatus == 'syncing'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-refresh fa-lg"></span>Syncing</div>
			<div ng-show="$root.syncStatus == 'synced'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-check fa-lg"></span>Synced</div>
			<div ng-show="$root.syncStatus == 'error'" ng-click="$root.syncStatus = 'stopped'"><span class="fa fa-warning fa-lg"></span>Sync error</div>
			<div ng-show="$root.syncStatus == 'stopped'" ng-click="$root.syncStatus = 'syncing'"><span class="fa fa-warning fa-lg"></span>Sync stopped</div>
		</div>
	</div>
</div>


<!-- Grid container for notes -->
<div id="grid-container" grid>

	<!-- Notes view -->
	<div class="note" ng-repeat="note in notes | filter:filterNotes | filter:$root.search | orderBy:'order'" grid-item>

		<div class="drag-drop-zone" ng-mousedown="$root.masonry.dragStart($event);" ng-mouseup="$root.masonry.dragEnd($event, moveNote);"></div>
		<input type="hidden" name="order" value="{{note.order}}">

		<!-- Title -->
		<input class="note-title" type="text" placeholder="Title" tabindex="-1" ng-keydown="titleKeyListener($event, note);" ng-model="note.title" />

		<!-- If note, print contents -->
		<textarea class="note-content" ng-if="!note.tasks" rows="1" placeholder="Note" tabindex="-1" ng-keydown="contentKeyListener($event, note);" ng-model="note.content" resize></textarea>

		<!-- If todo list, print tasks -->
		<div class="note-tasks" ng-if="note.tasks">
			<div class="note-task" ng-class="{'note-task-done': task.done}" ng-repeat="task in note.tasks">
				<div class="note-task-icon" ng-click="toggleTaskDone(note, task);"></div>
				<textarea class="note-task-content" rows="1" placeholder="Task" tabindex="-1" ng-keydown="taskKeyListener($event, note, $index)" ng-focus="startEditTask($event);" ng-blur="stopEditTask($event);" ng-model="task.content" resize></textarea>
			</div>
		</div>

		<!-- Menu -->
		<div class="note-menu">
			<div class="fa fa-trash-o" ng-if="!note.deleteDate" ng-click="deleteNote(note);"></div>
			<div class="fa fa-remove" ng-if="note.deleteDate" ng-click="destroyNote(note);"></div>
			<div class="fa fa-undo" ng-if="note.deleteDate" ng-click="restoreNote(note);"></div>
			<button ng-click="stopEditNotes();">OK</button>
		</div>

	</div>

</div>


<!-- No notes message -->
<div ng-if="(notes | filter:filterNotes | filter:$root.search).length === 0" id="nothing-message">No notes here...</div>


<!-- Bottom add menu -->
<div id="add-menu">
	<div><div class="fa fa-plus" ng-click="$parent.toggleAddMenu($event)"></div></div>
	<div><span>Import/export</span><div class="fa fa-cloud-upload" ng-click="importExport();"></div></div>
	<div><span>New todo list</span><div class="fa fa-check" ng-click="addNewTodo();"></div></div>
	<div><span>New note</span><div class="fa fa-lightbulb-o" ng-click="addNewNote();"></div></div>
</div>