/**
 * Redefine global components
 */

#navbar {
	background-color: #3C80F6;
	color: rgba(255, 255, 255, 1);
}

#nav-menu:hover {
	color: rgba(255, 255, 255, 0.7);
}

#nav-user:hover {
	color: rgba(255, 255, 255, 0.7);
}

#nav-search-content input {
	color: rgba(255, 255, 255, 1);
}