@charset "UTF-8";

@font-face {
	font-family: "notes";
	src:url("../fonts/icons-notes.eot");
	src:url("../fonts/icons-notes.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons-notes.woff") format("woff"),
		url("../fonts/icons-notes.ttf") format("truetype"),
		url("../fonts/icons-notes.svg#notes") format("svg");
	font-weight: normal;
	font-style: normal;

}

[class^="icon-notes-"]:before, [class*=" icon-notes-"]:before {
	font-family: "notes" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-notes-trash:before {
	content: "a";
}
.icon-notes-all:before {
	content: "b";
}
.icon-notes-todo:before {
	content: "c";
}
.icon-notes-checked:before {
	content: "d";
}
.icon-notes-unchecked:before {
	content: "e";
}
.icon-notes-notes:before {
	content: "f";
}
.icon-notes-restore:before {
	content: "g";
}
.icon-notes-delete:before {
	content: "h";
}